# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# electron build artifact (created by electron:prep)
/electron/bundle/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# data
/data/
/00_SYSTEM/

# e2e workspace
.tmp/

# user data (не часть приложения)
Новая папка/
Новая папка с объектами/
~$*
tailwind base.docx
